[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extended-choices = "*"
psycopg2-binary = "*"
pillow = "*"
django-multi-form-view = "*"
django-betterforms = "*"
six = "*"
django-utils-six = "*"
ipdb = "*"
coverage = "*"
freezegun = "*"
faker = "*"
django = "*"
ipython = "*"
tchappui-webdrivers = "*"
selenium = "*"
geckodriver-autoinstaller = "*"
python-dotenv = "*"
sentry-sdk = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
django-extensions = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-create-react-app = "*"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.9"
