[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
python-dotenv = "*"
psycopg2-binary = "*"
tchappui-webdrivers = "*"
django-extended-choices = "*"
django-multi-form-view = "*"
django-betterforms = "*"
django-webpack-loader = "*"
django-create-react-app = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-extensions = "*"
boto3 = "*"
django-storages = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
sentry-sdk = "*"
geckodriver-autoinstaller = "*"
selenium = "*"
ipython = "*"
faker = "*"
freezegun = "*"
coverage = "*"
ipdb = "*"
django-utils-six = "*"
six = "*"
pillow = "*"
setuptools = "*"
certifi = "*"
celery = "*"
django-celery-email = "*"
django-celery-results = "*"
pip-system-certs = "*"
flake8 = "*"
setuptools = "*"
pipenv = "*"
pytest-django = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.12"
