:root {
  --color-primary: #ee394c;
  --color-secondary: #86b7fe;
  --color-light: #f2f2f2;
  --color-gray: #ced4da;
  --color-dark: #6b7680;
  --color-white: #ffffff;
  --color-error: #e2442f;
  --color-warning: #ffc900;
  --color-info: #02a2b9;
  --color-success: #1ba345;
  --color-input: #00d1b2;
   --border-radius: 5px;
}
.nav_task {
	display:flex;
	gap:1rem;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
}
.todo-app{
  width: 100%;
  max-width: 540px;
  background-color: #ffffffad;
  padding: 40px 30px 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}


.nav_task a:nth-last-child(2) {
	margin-left: auto;
	font-weight: bold;
} 

.tasks {
  list-style: none;
  width: 100%;
  max-width: 450px;
}
.list-container {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: 0;
  border: 2px solid #ff5945;

}
.tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px var(--color-dark);
  padding: 0.5rem 0;
}
.tasks li:last-of-type {
  border-bottom: none;
}

.task-controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.task-controls a {
  color: var(--color-dark);
}

/* task detail */

.task {
  margin-bottom: auto;
}
