{% extends 'patient_list.html' %}
{% block nav %}
 <nav class="header">
      <a class="logo" href="{% url 'index_speech' %}">Ludic<strong>Language PRO</strong> </a>
      <img src="../static/assets/img/logo.png" width="80" height="70">
    </nav>
    <div class="sidebar-container">
        <ul class="sidebar-navigation">
            <li class="header">Profile Speech-therapist</li>
            {% if user.is_authenticated %}
                <p>Bienvenue  {{ user }} !</p>
                <img src={{user.profile.profile_pic.url}} class="img-raised rounded-circle avatar">
            <li class="nav-link link link-theme link-arrow">
              <a href="{% url 'index_speech' %}">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
              </a>
            </li>
            <li class="nav-link link link-theme link-arrow">
              <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> About
              </a>
            </li>
            <li class="nav-link link link-theme link-arrow">
              <a href="{% url 'logout' %}">
                <i class="fa fa-tachometer" aria-hidden="true"></i> LOG OUT
              </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock nav %}
<!-- Masthead-->

{% block content%}
<div class="content-container">
  <div class="container-fluid">
    <section class="jumbotron">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <img src="{{object.user.profile.profile_pic.url}}" class="img-raised rounded-circle avatar" style="background-color: white; border:1px solid rgba(18, 1, 1, 0.478);">
          </div>
            <div class="col-lg-7 col-sm-12 product-detail-data">
                <div class="row">
                <h2 class="d-inline-flex align-middle font-weight-bold header-title text-capitalize">{{ object.user.username }}</h2>
                <h5>{{ object.user.profile.age }} ans</h5>
                <p>{{ object.user.first_name }} {{ patient.user.last_name }}</p>
                <p>{{ object.user.profile.birth_date }}</p>
                <p>{{ object.user.profile.pathology }}</p>
                <p class="text-justify">{{ object.user.profile.bio }}</p>
                <li class="list-inline-item m-0"><a href="mailto:{{ patient.user.email }}" class="social-link"><i class="bi bi-envelope icon"></i></a></li>
                </div>
            </div>
            <div>
              <hr class="bio-seperation">
              <h5>Les comptes Rendus</h5>
            </div>
            
            {% for workshop in workshop %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{workshop.date}}
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{{workshop.report}}</div>
                  </div>
                </div>
                <div>
                </div>
                {% endfor %}
                {% for exercise in exercise %}
                <div>
                  {{exercise.exercise.name}}
                </div>
                {% endfor %}
              

    </section>
    </div>
  </div>
</div>
{% endblock content %}
