<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ludic Language{% endblock title%}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script
            src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous">
    </script>

    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'profiles/css/styles.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'workshops/css/styles.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'exercises/css/styles.css' %}" type="text/css" rel="stylesheet">

</head>
<body class="page-top">

<!-- Navigation-->
{% block nav %}
 <nav class="header">
      <a class="logo" href="{% url 'index' %}">Ludic<strong>Language PRO</strong></a>
      <img class="logo" src="{% static 'assets/img/logo.png' %}" width="80" height="70">
    </nav>
    <div class="sidebar-container">
        <ul class="sidebar-navigation">
            <li class="header">Profile Speech-therapist</li>
            {% if user.is_authenticated %}
                <p>Bienvenue  {{ user }} !</p>
                <img src={{user.profile.profile_pic.url}} class="img-raised rounded-circle avatar">
            <li class="nav-link link link-theme link-arrow">
              <a href="{% url 'index_speech' %}">
                <i class="bi bi-house"></i> Homepage
              </a>
            </li>
            <li class="nav-link link link-theme link-arrow">
              <a href="{% url 'about_us' %}">
                <i class="bi bi-info-circle"></i> About 
              </a>
            </li>
            <li class="nav-link link link-theme link-arrow">
              <a href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i> LOG OUT
              </a>
            </li>
          {% endif %}
            
        </ul>
    </div>
{% endblock nav %}
<!-- Masthead-->
{% block header %}

{% endblock header %}
    <!-- About-->
    {% block content %}
    <div class="content-container">
        <div class="container-fluid">
                <section class="jumbotron main-section-speech">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center">
                            <a  class="d-flex justify-content-center align-items-center btn btn-patient" name="workshop"  type="button" href="{% url 'list_workshop' %}"
                                                 data-toggle="tooltip" data-placement="bottom">
                            <span>Afficher les prochaines sessions</span>
                            <i class="bi bi-calendar-date"> Workshop</i>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center">
                            <a  class="d-flex justify-content-center align-items-center btn btn-patient" name="patient"  type="button" href="{% url 'patient_list' %}"
                                                 data-toggle="tooltip" data-placement="bottom">
                            <span>Liste des patients</span>
                            <i class="bi bi-people"> Patient</i>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center">
                            <a  class="d-flex justify-content-center align-items-center btn btn-ludicjourney" name="ludic_journey"  type="button" href="{% url 'exercise_list' %}"
                                                 data-toggle="tooltip" data-placement="bottom">
                            <span>Créer un parcours ludique</span>
                            <i class="bi bi-music-note-list"> Parcours Linguistique</i>
                            </a>
                        </div>
                    {% include 'todo/task_list.html' %}
                          
                    </div>
                </section>
        </div>
    </div>
    {% endblock content %}
    <!-- Footer-->
    {% block footer %}
    {% endblock footer %}
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
      </script>
    <script src="{% static 'profiles/js/scripts.js'%}"></script>
    <script src="{% static 'task/js/scripts.js'%}"></script>
</body>
</html>
