{% extends 'index_speech.html' %}
{% load static %}
{% block content%}
<div class="content-container">
        <div class="container-fluid">
                <section class="jumbotron">
                    <div class="container-fluid">
                    <div class="row">
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{msg.message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if patient_list %}
                        {% for patient in patient_list  %}
                            <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center">
                              <!-- Card-->
                                <div class="card patient-card p-0 d-flex flex-column">
                                    {% if patient.profile_pic %}
                                    <img  src="{{patient.profile_pic.url}}" alt="" class="w-100 card-img-top">
                                    {% else %}
                                    <img src="{% static 'profiles/assets/img/par_defaut.png' %}" alt="" class="w-100 card-img-top">
                                    {% endif %}
                                    <div class="p-4">
                                    <h5 class="mb-0 card-title">{{patient.user.username}}</h5>
                                    <p class="small text-muted d-flex  justify-content-center">{{ patient.user.profile.pathology }}</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                      <li class="list-inline-item m-0"><a href="{% url 'detail_patient' patient.user.id %}" class="social-link"> <i class="bi bi-info-circle icon"></i></a></li>
                                      <li class="list-inline-item m-0"><a href="{% url 'form_workshop' patient.user.id %}" class="social-link"> <i class="bi bi-calendar-date-fill icon"></i></a></li>
                                      <li class="list-inline-item m-0"><a href="{% url 'recorder_therapist' patient.user.id %}" class="social-link"><i class="bi bi-mic-fill icon"></i></a></li>
                                      <li class="list-inline-item m-0"><a href="mailto:{{ patient.user.email }}" class="social-link"><i class="bi bi-envelope icon"></i></a></li>
                                      <li class="list-inline-item m-0">
                                            <a href="" 
                                            class="social-link"
                                            id="task_icon"
                                            hx-delete="{% url 'delete_patient' patient.user.id %}"
                                            hx-confirm="Are you sure you wish to delete?"
                                            hx-target="closest div"
                                            hx-swap="outerHTML"
                                            data-dismiss="alert" 
                                            aria-hidden="true">
                                            <i class="fas fa-trash icon"></i></a></li>
                                    </ul>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center">
                            <a class="d-flex justify-content-center align-items-center btn btn-patient" name="patient"  type="button" href="{% url 'form_patient' %}"
                                         data-toggle="tooltip" data-placement="bottom">
                            <span>Formulaire de création de profil patient</span>
                            <i class="bi bi-people"> Créer un profil patient</i>
                            </a>
                        </div>
                    </div>

                    {% else %}
                    <div class="container h-100">
                        <div class="row justify-content-center h-100">
                            <div class="d-flex  justify-content-center align-items-center">
                                <h2 class="text-center no-patient">Vous n'avez pas encore de patient !</h2></div>
                                <i class="bi bi-person-x" style="font-size: 80px;" ></i>
                            

                        </div>
                        <div class=" d-flex justify-content-center align-items-center ">
                            <a  class="d-flex justify-content-center align-items-center btn btn-patient" name="patient"  type="button" href="{% url 'form_patient' %}"
                                                 data-toggle="tooltip" data-placement="bottom">
                            <span>Formulaire de création de profil patient</span>
                            <i class="bi bi-people"> Créer un profil patient</i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </section>
            </div>
        </div>
</div>
{% endblock content %}
