{% extends 'index_speech.html' %}
{% load static %}
{% block content%}
<div class="content-container">
        <div class="container-fluid">
                <section class="jumbotron">
                    <div class="container-fluid">
                    <div class="row">
                       
                        {% if therapist_list %}
                        {% for therapist in therapist_list  %}
                            <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center">
                              <!-- Card-->
                                <div class="card patient-card p-0 d-flex flex-column">
                                    {% if therapist.profile_pic %}
                                    <img  src="{{therapist.profile_pic.url}}" alt="" class="w-100 card-img-top">
                                    {% else %}
                                    <img src="{% static 'profiles/assets/img/par_defaut.png' %}" alt="" class="w-100 card-img-top">
                                    {% endif %}
                                    <div class="p-4">
                                    <h5 class="mb-0 card-title">{{therapist.user.first_name}} {{therapist.user.last_name}}</h5>
                                    <p class="small text-muted d-flex  justify-content-center">{{therapist.user.profile.address.city}}</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                      <li class="list-inline-item m-0"><a href="" class="social-link"> <i class="bi bi-info-circle icon"></i></a></li>
                                      <li class="list-inline-item m-0"><a href="mailto:{{ therapist.user.email }}" class="social-link"><i class="bi bi-envelope icon"></i></a></li>
                                       
                                    </ul>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <div class="container h-100">
                            <div class="row justify-content-center h-100">
                                <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center">
                                    <h2 class="text-center no-patient">Il n'y a pas encore d'orthophoniste  !</h2>
                                    <i class="bi bi-people"></i>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </section>
                        
{% endblock content %}
