.message-win {
    background:   #2e4053;
    border-radius: 20px 20px 2px 20px;
    max-width: 300px;
    color: white;
    margin-left: auto;
    padding: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
  }