{% extends 'index_speech.html' %}
{% block content%}
<div class="content-container">
        <div class="container-fluid">
                <section class="jumbotron main-section-speech">
                    <div class="row">
                         <div class=" d-flex  justify-content-center">
                            <h3>{{exercise_list.pathology.name}}</h3>
                        </div>
                         {% if exercise_list %}
                        {% for exercise in exercise_list  %}
                        <div class="col-lg-6 col-md-6 col-sm-12 d-flex  justify-content-center">
                            <div class="card patient-card d-flex flex-column">
                                <img src="{{exercise.picture1.url}}" class="card-img-top patient-img  rounded d-block align-m">
                                <p class="card-title">{{exercise.title}}</p>
                                <div class="card-footer d-flex patient align-content-around mt-auto">
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                        {% endif %}
                    </div>
                </section>
        </div>
</div>
{% endblock content %}
