{% extends 'index_speech.html' %}
{% load static %}
{% block content%}
<div class="content-container">
  <div class="container-fluid">
    <section class="jumbotron">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{msg.message}}
                </div>
            {% endfor %}
            {% endif %}
       
        <table class="table table-striped">
                <thead>
                    {% if list_workshop %}
                    <tr>
                        <th scope="col">Patient</th>
                        <th scope="col"> Date de la session</th>
                        <th scope="col">Horaire</th>
                        <th scope="col">Compte Rendu</th>
                   </tr>
                </thead>
                {% for workshop in list_workshop %}
                <tbody>
                    {% if workshop.report %}
                    <tr>
                      <td>{{workshop.patient.user.username}}</td>
                      <td>{{workshop.date|date:"l j F Y"}}</td>
                      <td>{{workshop.date|date:"H:i"}}</td>
                      <td>Compte rendu réalisé
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a href="{% url 'report_patient' workshop.id%}" class="social-link"> <i class="bi bi-info-circle icon"></i></a></li>
                            <li class="list-inline-item m-0">
                                <a href="" 
                                class="social-link"
                                id="task_icon"
                                hx-delete="{% url 'delete_report' workshop.id %}"
                                hx-confirm="Are you sure you wish to delete?"
                                hx-target="closest div"
                                hx-swap="outerHTML"
                                data-dismiss="alert" 
                                aria-hidden="true">
                                <i class="fas fa-trash icon"></i></a></li>
                        </ul>
                    </td>
                    
                    </tr>
                    {% else %}
                    <tr class="wk-todo">
                      <td>{{workshop.patient.user.username}}</td>
                      <td>{{workshop.date|date:"l j F Y"}}</td>
                      <td>{{workshop.date|date:"H:i"}}</td>
                        <td>A faire
                            <li class="list-inline-item m-0"><a href="{% url 'form_report' workshop.id%}" class="social-link"> <i class="bi bi-journal-text icon"></i></a></li>
                        </td>
                    </tr>
                     {% endif %}
                    </tbody>
                    {% endfor %}
            </table>
           
            <div class="col-lg-4 col-md-6 col-sm-12  justify-content-center">
                <a  class="d-flex justify-content-center align-items-center button btn-patient" name="workshop"  type="button" href="{% url 'form_workshop' %}"
                                     data-toggle="tooltip" data-placement="bottom">
                <i class="bi bi-calendar-date-fill"> Session</i>
                </a>

            </div>
        </div>
        {% else %}
             <div class="container h-100">
                    <div class="row justify-content-center h-100">
                        <div class="d-flex  justify-content-center align-items-center">
                            <h2 class="text-center no-workshop">Pas de session programmée !</h2>
                        </div>
                        <div class="row justify-content-center h-100">
                            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                                <i class="bi bi-calendar-x" style="font-size: 80px;"></i>
                            </div>
                        </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center text-center">
                                 <a  class="d-flex justify-content-center  text-center align-items-center button " name="workshop"  type="button" href="{% url 'form_workshop' %}"
                                                 data-toggle="tooltip" data-placement="bottom">
                                <span>Plannifier une session</span>
                                <i class="bi bi-calendar-plus"> Session</i>
                                </a>
                            </div>
                    </div>
                </div>
        {% endif %}
    </section>
  </div>
</div>
{% endblock content %}