{% extends 'index_speech.html' %}
{% load static %}
{% block content%}
<div class="content-container">
  <div class="container-fluid">
    <section class="jumbotron main-section-patient">
        <div class="table-responsive">
        <table class="wk-table">
                <thead>
                    {% if list_workshop %}
                    <tr>
                        <th scope="col">Patient</th>
                        <th scope="col"> Date de la session</th>
                        <th scope="col">Horaire</th>
                        <th scope="col">Compte Rendu</th>
                   </tr>
                </thead>
                {% for workshop in list_workshop %}
                <tbody>
                    {% if workshop.report %}
                    <tr>
                      <td>{{workshop.patient.user.username}}</td>
                      <td>{{workshop.date|date:"l j F Y"}}</td>
                      <td>{{workshop.date|date:"H:i"}}</td>
                      <td>Compte rendu réalisé</td>
                    </tr>
                    {% else %}
                    <tr class="wk-todo">
                      <td>{{workshop.patient.user.username}}</td>
                      <td>{{workshop.date|date:"l j F Y"}}</td>
                      <td>{{workshop.date|date:"H:i"}}</td>
                        <td>A faire
                            <a  class="d-flex justify-content-center align-items-center btn btn-workshop" name="workshop"  type="button" href="{% url 'form_report' workshop.id%}"
                                 data-toggle="tooltip" data-placement="bottom">
                            <span>Créer un compte rendu </span>
                            <i class="bi bi-journal-text"></i>
                            </a>
                        </td>
                    </tr>
                     {% endif %}
                    </tbody>
                    {% endfor %}
            </table>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12  justify-content-center">
                <a  class="d-flex justify-content-center align-items-center btn btn-patient" name="workshop"  type="button" href="{% url 'form_workshop' %}"
                                     data-toggle="tooltip" data-placement="bottom">
                <span>Plannifier une session </span>
                <i class="bi bi-calendar-date-fill"> Session</i>
                </a>

            </div>
        </div>
        {% else %}
             <div class="container h-100">
                    <div class="row justify-content-center h-100">
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex text-center">
                            <h2 class="text-center no-workshop">Pas de session programmée !</h2>
                        </div>
                        <div class="row justify-content-center h-100">
                            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                                <i class="bi bi-calendar2-x-fill"></i>
                            </div>
                        </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center text-center">
                                 <a  class="d-flex justify-content-center  text-center align-items-center btn " name="workshop"  type="button" href="{% url 'form_workshop' %}"
                                                 data-toggle="tooltip" data-placement="bottom">
                                <span>Plannifier une session</span>
                                <i class="bi bi-calendar-date-fill"> Session</i>
                                </a>
                            </div>
                    </div>
                </div>
        {% endif %}
    </section>
  </div>
</div>
{% endblock content %}
