{%load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'task/css/styles.css' %}" />
        <script
            src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous">
        </script>
        <title>Todo List</title>
    </head>

    <body>
        <main>
            <div class="container">
            	{% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{msg.message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <div id="modal" class="modal fade" tabindex="-1">
                    <div id="dialog" class="modal-dialog"></div>
                  </div> 
   
    {%block content%}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex  justify-content-center">
            <div class="todo-app">
                <a href="{% url 'task_form' %}"  class="d-flex justify-content-center align-items-center btn-task"> + Add a Task</a>
                {% csrf_token %}
                <ul  class="tasks">
                    {% for task in task_list %}
                    <li><a href="{% url 'task_update' task.id %}" id="task_list" class="{% if task.completed%}completed{%endif%}">{{ task.title }}, due le {{ task.due_datetime|date:"j F Y" }} à {{task.due_datetime|time:"H\hi"}}</a> 
                            <div  class="task-controls">
                                <div class="task-priority task-priority-color-{{ task.priority}}" data-bs-toggle="tooltip" data-bs-placement="right">
                                </div>
                                <a  hx-get="{% url 'task_detail' task.id %}" hx-target="#dialog">
                                    <i id="task_icon" class="bi bi-info-circle"></i></a>

                                <a href="{%url 'task_update' task.id %}"><i id="task_icon" class="bi bi-pencil-square"></i></a>
                                <button type="button" class="close" 
                                    id="task_icon"
                                    hx-delete="{% url 'task_delete' task.id %}"
                                    hx-confirm="Are you sure you wish to delete?"
                                    hx-target="closest div"
                                    hx-swap="outerHTML"
                                    data-dismiss="alert" 
                                    aria-hidden="true">&times;</button>
                            </div>                           
                        </li>
                        {% empty %}
                            <p class="d-flex justify-content-center align-items-center">🎉 Yay, you have no pending tasks!</p>
                        {% endfor %}
                        </ul> 
                        <ul class="tasks">
                        {% if workshop_date %}
                        {% for workshop in workshop_date %}
                        <li class="wk_list">  {{workshop.date}}
                        {{workshop.patient.user.first_name}} {{workshop.patient.user.last_name}}
                            <a  hx-get="{% url 'workshop_detail' workshop.id %}" hx-target="#dialog">
                            <i id="task_icon" class="bi bi-info-circle"></i></a>
                           
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="nav-link link link-theme link-arrow d-flex justify-content-center align-items-center">
                            <i class="bi bi-calendar-date"></i>Pas de Session aujourd'hui !
                        </li>
                        {% endif %}
                    </ul>
                        
            {%endblock content%}
            </div>
        </div>
    </div>
</main>

</body>

</html>
