{% extends 'index_speech.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-container">
  <div class="container-fluid">
            <section class="jumbotron">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                   
                    {% if '/task_create/'  in request.path %}
                    <button class="submit">CREER UNE TACHE</button>
                    {% else %}
                    <button class="submit">MODIFIEE</button>
                    {% endif %}
                  </form>
            </section>
      </div>
  </div>
{% endblock content %}

